################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventureWorksExercise.Data/obj
/AdventureWorksExercise.Data/bin/Debug/net6.0
/AdventureWorksExercise.WebAPI/bin/Debug/net6.0
/AdventureWorksExercise.WebAPI/obj
